$green: #317231;
$yellow: #FEFB53;

@mixin gradient($color1, $color2) {
  $bg-2: $color1;
  $stop: 60%;
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $color1 0%, $bg-2 $stop, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $color1 0%,$bg-2 $stop,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $color1 0%,$bg-2 $stop,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.spaced {
  margin: 0;
  > li {
    color: $green;
    padding-top: .5rem;
    padding-bottom: .5rem;
    span {
      color: black;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  a {
    @include gradient(#f0f0f0, #f9f9f9);
    display: block;
    min-height: 128px;
    padding: 1rem;
    position: relative;
    transition: all .3s;
    &:after {
      background: $yellow;
      content: " ";
      display: block;
      height: .5rem;
      left: 0;
      position: absolute;
      top: 0;
      transition: all .3s;
      width: 1rem;
    }
    &:hover {
      background: #f9f9f9;
      text-decoration: none;
      &:after {
        background: $green;
        height: 1rem;
      }
    }
  }
}

h1 {
  color: $green;
  margin: 0 0 2rem;
  text-align: center;
  &:after {
    background: $yellow;
    border-top: 1px solid $green;
    content: " ";
    display: block;
    height: .5rem;
    margin: .5rem auto 0;
    text-align: center;
    width: 18rem;
  }
}

h2 {
  color: $green;
  margin: 0 0 2rem;
  &:after {
    background: $yellow;
    border-top: 1px solid $green;
    content: " ";
    display: block;
    height: .5rem;
    margin: .5rem 0 0;
    text-align: left;
    width: 10rem;
  }
}

figure {
  background: #f0f0f0;
  padding: 1rem;
  figcaption {
    text-align: center;
    &.title {
      font-weight: bold;
    }
  }
  img {
    margin: 1rem 0;
  }
  p {
    margin: 0;
  }
}

section {
  margin-bottom: 2rem;
}
