$green: #317231;
$yellow: #FEFB53;

ul.spaced {
  margin: 0;
  > li {
    color: $green;
    padding-top: .5rem;
    padding-bottom: .5rem;
    span {
      color: black;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  a {
    background: #f0f0f0;
    display: block;
    padding: 1rem;
    &:hover {
      background: #f9f9f9;
      text-decoration: none;
    }
  }
}

h2 {
  color: $green;
  margin: 0 0 2rem;
  &:after {
    border-bottom: .5rem solid $yellow;
    content: " ";
    display: block;
    height: 1rem;
    width: 10rem;
  }
}

figure {
  background: #f0f0f0;
  padding: 1rem;
  figcaption {
    text-align: center;
    &.title {
      font-weight: bold;
    }
  }
  img {
    margin: 1rem 0;
  }
  p {
    margin: 0;
  }
}

section {
  margin-bottom: 2rem;
}

footer {
  background: #f0f0f0;
  padding: 1rem;
  text-align: center;
}
